@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
}

section {
  .overlay {
    background-color: #75030d;
    height: 100vh;
    width: 100%;
    .content {
      display: flex;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60vw;

      h1 {
        color: white;
        font-size: 6vw;
        margin-right: 5%;
      }
      img {
        height: 10vw;
        width: 10vw;
        animation: spin;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
